data/
classes/
output/
spark-warehouse/
!**/hw_boilerplate/data
!**/hw_boilerplate/output

*.ipynb_checkpoints

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/
project/boot/
project/plugins/project/
